<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>updateaggregates</servlet-name>
		<servlet-class>com.samlbest.cs496.finalproject.UpdateAggregates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateaggregates</servlet-name>
		<url-pattern>/cron/updateaggregates</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
		    <web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>